 .head_div {
        background-color: #00a2ed;
        padding-bottom: 6px;
    }

.head_nav {
    height: 60px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    border-bottom: 6px solid #3f3f3f;
}

.head_nav a {
    color: #fff;
    font-size: 18px;
    display: flex;
    margin: 5px 10px;
    height: 100%;
    vertical-align: text-bottom;
    align-items: center;
    text-decoration: none;
}

.nav_rail {
    position: relative;
    top: -6px;
    width: 8px;
    height: 2px;
    margin-left: 20px;
    background-color: red;
    border-radius: 50%;
}